html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefffe;
  color: #0b3954;
}

#heading {
    margin: 0;
    text-align: center;
    font-size: 6em;
}

#controls {
    text-align: center;
}

#playersInfo {
    text-align: center;
    margin: 1%;
}

.cardSlot {
    box-sizing: border-box;
    width: 23%;
    display: inline-block;
    padding: 1%;
    margin: 1%;
    background-color: #bfd7ea;
    color: #1098f7;
    border-radius: 15px;
}

.cardSlot img {
    max-width: 100%;
}

.cardSlot h2 {
    padding: 0;
    margin: 0;
}

.cardSlot p {
    margin: 0;
}

.startDiv {
    min-height: 314px;
    background-image: url("https://deckofcardsapi.com/static/img/AH.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 10% 0 0;
}

.startDiv h2 {
    font-size: 2em;
    padding-top: 10%;
}

#welcome h2 {
    font-size: 2em;
}

#welcome li {
    font-size: 1.75em;
    padding: 1%;
}

#welcome ul {
    border-radius: 15px;
    padding: 1%;
    margin: 0 auto;
    width: 80%;
    /*background-color: #bfd7ea;
    color: #1098f7;*/
    list-style: none;
}
